[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg/
[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx/
[submodule "build/vs2022/imgui"]
	path = build/vs2022/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
